<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="de.sauroter.miniplan.miniplan">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- TODO: change allowBackup for release -->
    <application
        android:name="de.sauroter.miniplan.MiniplanApplication"
        android:allowBackup="false"
        android:icon="@drawable/ic_miniplanthumbnail"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity
            android:name="de.sauroter.miniplan.activity.MiniplanActivity"
            android:label="@string/title_activity_miniplan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.sauroter.miniplan.activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:parentActivityName="de.sauroter.miniplan.activity.MiniplanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sauroter.miniplan.activity.MiniplanActivity" />
        </activity>
        <activity
            android:name="de.sauroter.miniplan.activity.SettingsActivity"
            android:label="@string/title_activity_settings"
            android:parentActivityName="de.sauroter.miniplan.activity.MiniplanActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sauroter.miniplan.activity.MiniplanActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MANAGE_NETWORK_USAGE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="de.sauroter.miniplan.activity.DebugActivity"
            android:label="@string/title_activity_debug">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sauroter.miniplan.activity.MiniplanActivity" />
        </activity>
        <activity android:name="de.sauroter.miniplan.activity.DetailActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="de.sauroter.miniplan.activity.MiniplanActivity" />
        </activity>

        <service
            android:name="de.sauroter.miniplan.model.AltarServiceUpdateJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />

        <receiver android:name="de.sauroter.miniplan.alarm.AlarmReceiver" />
    </application>

</manifest>